.menu {
  background-color: #333;
  width: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.menu > a {
  color: #fff;
  height: 40px;
  display: flex;
  justify-content: center;
  border: 0px solid #fff;
  border-bottom-width: 1px;
}
