* {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

a {
  color: #333;
  text-decoration: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

html,
body {
  background-color: rgb(210, 255, 225);
}

.content {
  display: flex;
}
.content > div {
  flex: 1;
}

.overflowhidden {
  overflow: hidden;
}
.displaynone {
  display: none;
}


.menu {
  background-color: #333;
  max-width: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.menu > a {
  color: #fff;
  height: 40px;
  display: flex;
  justify-content: center;
  border: 0px solid #fff;
  border-bottom-width: 1px;
}
