.table {
  background-color: #333;
  padding: 0 20px;
  width: auto;
  height: auto;
  border: 0px solid #fff;
  border-left-width: 1px;
}

.table > div {
  height: auto;
  color: #fff;
}

.row{
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0px solid #fff;
  padding: 5px 0;
  border-bottom-width: 2px;
}

.col{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
